*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    color: #3c3c3c;
}
.wrapper{
    width:100%;
    height: 100%;
}